<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <a href="/">kategorijas</a>
        <a href="/teksta_izvele">teksts</a>

        <h2>Joki šeit!</h2>

        {%block saturs%}
        
        <p>{{joks}}</p>
        <img src="{{bilde}}">
        <form method="post">
            <select name="kategorijas">
                {% for x in kategorijas %}
                    <option value = {{x}}> {{x}}</option>
                {%endfor%}
            </select>
            <input type="submit", value="izvelies joku"> 
        </form>
        
        {%endblock%}
        
    </body>
</html>
